# Supabase Credentials Example
# Make a copy of this file named ".env" in the root directory and supply your own keys.

# 1. Obtain keys from your Supabase Project Settings -> API
VITE_SUPABASE_URL=https://sjgcqhjqqlzwfuhwkhxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqZ2NxaGpxcWx6d2Z1aHdraHh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2MDg3OTcsImV4cCI6MjEwMTE4NDc5N30.DpbNQcp8YPoL_7pwCckjzXECTGSrGpHJWCmm5RocC50

# Note: VITE_ prefix is required for environment variables to be loaded by Vite.
